* {
    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.welcome-nav {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    margin-top: 12px;
    border-radius: 0px 0px 40px 40px;
}

.fa-ellipsis-v:focus {
    outline: none;

}

.welcome-nav a {
    color: #723BE4;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    transition: 500ms;
}

.welcome-nav a:hover {
    transition: 500ms;
    text-shadow: 2px -1px 11px #723BE4;
}

.welcome-nav .Logo-brand {
    width: 70px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

/*Home Page */

.Side-Menu {
    background-color: #723BE4;
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    -webkit-box-shadow: 6px 1px 32px 4px #9B72EC;
    box-shadow: -10px 86px 20px 12px #9B72EC;
}

.Brand {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-image: url("/images/logos/Main-Logo-removebg.jpg");
    background-size: cover;
}

.Main-body {
    position: fixed;
    top: 0;
    left: 150px;
    overflow-y: auto;
    width: calc(100% - 150px);
    height: 100vh;

}

.Side-Ul {
    list-style: none;
    padding: 0px;
    margin-top: 70px;


}

.Side-Ul li {
    margin-bottom: 20px;
    padding: 10px 0px;
    transition: 500ms;
}

.Side-Ul li:hover {
    background-color: #9B72EC;
    transition: 500ms;
}

.Side-Ul li a {
    color: white;
    padding: 0px;
    margin: 0px;
}

.Side-Ul li a i {
    font-size: 30px;
}

.Side-Ul li a p {
    padding: 0px;
    margin: 0px;
}

.Side-Ul li a:hover {
    text-decoration: none;
}

.Main-body .Upper-Nav {
    color: white;
    background: rgb(55, 98, 225);
    background: linear-gradient(90deg, rgba(55, 98, 225, 1) 0%, rgba(119, 57, 221, 1) 100%);
}

.Main-body .shadow-row {
    color: #723BE4;
    padding-top: 20px;
    -webkit-box-shadow: 0px -3px 32px -9px #723BE4;
    box-shadow: 0px -3px 32px -12px #723BE4;
}

.Main-body .row .Page-Title {
    margin-left: 30px;
}

.Side-Menu p a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.home-page h1 {
    font-size: 80px;
    color: #723BE4;
    font-style: italic;
    margin-top: 200px;
}

.active {
    background-color: #9B72EC;
}

/*Profile*/
.profile {
    height: 100vh;
}

.profile-data ul {
    list-style: none;
    font-size: 19px;

}

.Avatar {
    width: 180px;
    height: 180px;
    background-image: url("/images/male.png");
    background-size: cover;
    background-position: center;
}

.inf li {
    font-weight: 700;
}

.Edit-Btn {
    color: white;
    background-color: #723BE4;
}

.Edit-Btn:hover {
    color: white;
}

.Edit-Btn a {
    color: white;
    text-decoration: none;
}

/*Edit Profile*/
.Edit-Profile , .Edit-Team {
    margin-top: 30px;
}

.Edit-Profile form , Edit-Team form {
    padding-left: 20px;
    padding-top: 50px;
}

.Edit-Profile .form-group .form-control , .Edit-Team .form-group .form-control {
    border: none;
    background: transparent;
    width: 300px;
    border-bottom: 2px solid #723BE4;
    outline: none;
    color: #723BE4;
    font-weight: 600;
}

.Edit-Profile .form-group .form-control:focus , .Edit-Team .form-group .form-control:focus {
    box-shadow: none;
}

.form-group label {
    font-style: italic;
}

.Edit-Img {
    background-image: url("/images/Edit-Profile.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}

.p-edit:hover {
    text-decoration: underline;
    cursor: pointer;
}

/*Login*/
.Login {
    margin-top: 100px;
}

.Login .card-header {
    background-color: #723BE4;
    color: white;
    font-weight: 700;
    font-style: italic;
}

.Login .card-body {
    -webkit-box-shadow: 0px -3px 32px -9px #723BE4;
    box-shadow: 0px -3px 32px -12px #723BE4;
}

.Login .card {
    border-radius: 10px;
    margin-top: 100px;
}

.Login .Login-Img {
    background-image: url("/images/login.png");
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.Login .form-group .btn {
    background: transparent;
    color: #723BE4;
    border: 2px solid #723BE4;
    font-weight: 400;
    font-style: italic;

}

.Login .form-group .btn:hover {
    text-decoration: none;
    color: white;
    background: #723BE4;

}

.Login .form-control:focus {
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121, 82, 179, .25);
}


/*Register*/
.Register-Img {
    background-image: url("/images/register.png");
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

/*Teams*/
.Team-box {
    background: linear-gradient(-45deg, #3B76E3, #7C48E6, #3B76E3, #7C48E6);
    background-size: 400% 400%;
    animation: gradient 3s linear infinite;
    width: 100%;
    height: 200px;
    border-radius: 7px 25px 7px 25px;
    padding: 11px;
    padding-right: 0px;
    transition: 500ms;
    cursor: pointer;
    position: relative;
}

.Team-box:hover {
    border-radius: 25px 7px 25px 7px;
    transition: 500ms;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.Team-box h2 {
    color: white;
    margin: auto;
}

@media only screen and (max-width: 990px) {
    .Register-Img, .Login-Img {
        border-radius: 100%;
        height: 350px !important;
        border: solid 3px #7952b3;
        width: 350px !important;
        margin: 0px auto;
    }

    .Login .Login-row {
        flex-direction: column-reverse;
    }
}

.Option {
    background: transparent;
    border: none;
    background: none;
    color: white;
}

.Option:focus {
    outline: none;
    border: none;

}

.dropdown-toggle::after {
    all: unset;
}

.Chat-Box {
    position: relative;
    height: calc(100vh - 190px);
    overflow: auto;
    padding-top: 30px;
}

.Message-Box {
    position: absolute;
    margin: auto;
    bottom: 20px;
    width: 95%;

}

.Message-Box .content {
    height: 100%;
    -webkit-box-shadow: 0px -3px 32px -9px #723BE4;
    box-shadow: 0px -3px 13px -12px #723BE4;
}
.content textarea
{
    resize: none;
    border: none;
    outline: none;
    border-bottom: 3px solid #7952b3 ;

}
.content textarea:focus
{
    box-shadow: none;
}
.content form
{
    all: unset;
}
.content .form-control:focus
{
    box-shadow: none;
    border-bottom: 3px solid #7952b3 ;
}
/*.Chat-Box .overlay*/
/*{*/
/*    position: absolute;*/
/*    top:0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    background-color: #D4B5DE;*/
/*    opacity: .3;*/

/*}*/
.Chat-Box .content
{
    width:80%;

}
.Team-Post
{
    border-radius: 5px;
    min-height: 100px;
    background-color: white;
    margin-bottom: 20px;
}
.content .avatar
{
    width: 60px;
    height: 60px;
    background-image: url("/images/male.png");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
}
.date
{
    font-size: 14px;
    color: #BE8FCE;
}
.shadow-row-ul
{
    list-style: none;

}
/*New Team*/
.Team-Img
{
    background-image: url("/images/team.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.Team-btn
{
    background-color: #7952b3;
    color: white;
}
.Team-btn:focus
{
    box-shadow: none;
    color: white;
}
.Team-btn:hover
{
    box-shadow: none;
    color: white;
}
.Edit-Team-Img
{
    background-image: url("/images/Edit-Team.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;

}
.New-Member .form-control
{
    border-color: #7952b3;
    box-shadow: 0 0 0 3px rgba(121, 82, 179, .25);

}
.New-Member .form-group label
{
    font-size: 16px;
}
.Member-img
{
    width: 50px;
    height: 50px;
    background-image: url("/images/male.png");
    background-size: cover;
    background-position: center;

}
/*Team Info*/
.Team-Info .card ul
{
    list-style: none;
}
.Team-Info .card-header {
    background-color:#723BE4 ;
    color: white;
}
.Team-Info .card ul li
{
    font-weight: 600;
    color: #723BE4;
    font-size: 18px;
}
.Team-Info .card ul li span
{
    font-weight: 100;
    color: #5a6268;
    font-size: 14px;
}
.Team-Info i
{
    color: #723BE4;
    font-size: 70px;
}
/*Assignment*/
.table-striped tbody tr:nth-of-type(odd)
{
    background-color: #E1D5F9;

}
.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #EBE3FB;
}
.Assignment-Img
{
    background-image: url("/images/Assignment.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
