* {
    font-family: 'Montserrat', sans-serif;

}
body
{
    background-color: #fff;
}
.welcome-nav
{
   background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    margin-top: 12px;
    border-radius: 0px 0px 40px 40px ;
}
.welcome-nav a
{
    color: #723BE4;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    transition: 500ms;
}
.welcome-nav a:hover
{
    transition: 500ms;
    text-shadow: 2px -1px 11px #723BE4;
}
.welcome-nav .Logo-brand
{
    width: 70px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

